
.pageWrapper {
    animation: fadeSlideIn 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(50px);
  }
  
  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .carousel-zoom img {
    transition: transform 2s ease;
  }
  
  .carousel-zoom .carousel-item.active img {
    transform: scale(1.05); /* Slight zoom */
  }
  
  